body {
  background: linear-gradient(150deg, #dae2f8, #d6a4a4);
}
header {
  text-align: center;
}

input {
  position: relative;
  margin-left: 45%;
  width: 1.3rem;
  height: 1.3rem;
}


.tablec {
  width: auto;
  display: inline-block;
}
